<%= form_with model: @student, data: { turbo: false } do |f| %>
  <%= render "shared/errors", resource: @goal %>

  <div>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

  <div>
    <%= f.label :dob %>
    <%= f.date_field :dob %>
  </div>

  <div>
    <%= f.label :diagnosis %>
    <%= f.text_field :diagnosis %>
  </div>

  <div>
    <%= f.label :grade_level %>
    <%= f.text_field :grade_level %>
  </div>

  <%= f.submit %>
<% end %>
