<h1><%= "#{@student.first_name} #{@student.last_name} Info" %></h1>
<p>Date of Birth: <%= @student.dob %></p>
<p>SPED Diagnosis: <%= @student.diagnosis %></p>
<p>Grade Level: <%= @student.grade_level %></p>
<ul>
  <h4><%= "#{@student.first_name}'s Goals" %></h4>
  <% @student.student_goals.each do |sg| %>
    <li><%= link_to sg.goal.name, [@student, sg] %></li>
  <% end %>
</ul>
<% if policy(StudentGoal).new? %>
  <%= link_to "Create New Goal", new_student_student_goal_path(@student) %>
<% end %>
<br>
<% if policy(@students).index? %>
  <%= link_to "Edit #{@student.first_name}", edit_student_path(@student) %>
<% end %>
<br>
<% if policy(@student).destroy? %>
  <%= button_to "Delete #{@student.first_name}", student_path(@student), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>
<br>
<% if policy(@student).index? %>
  <%= button_to "View all Students", students_path(@students) %>
<% end %>
